* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    border: 1px solid rgb(226, 226, 226);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main {
    margin: 0 auto;
    max-width: 448px;
    /* border: 1px solid red; */
    background-color: #f1f1f1;
}

.container-content {
    max-width: 448px;
}

/* header */
header {
    position: fixed;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(206, 206, 206);
    z-index: 999;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    gap: 199px;
    padding: 14px 0px;
    background: white;
}

/* main */
.hero-container {
    padding: 80px 16px 0px 16px;
    background-color: white;
}

.hero-container .col {
    display: flex;
    flex-direction: column;
    /* border: 1px solid yellow; */
}

.hero-container .col .banner-img {
    /* border: 1px solid black; */
    width: 100%;
}

.hero-container .col .banner-img img {
    width: 100%;
}

.hero-container .col .row {
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding: 8px 0px;
    /* border: 1px solid red; */
}

.hero-container .col .row .position {
    flex-basis: 50%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    /* border: 1px solid black; */
}

.hero-container .col .row .position span {
    width: 8px;
    height: 8px;
    background-color: rgb(213, 213, 213);
    border-radius: 8px;
}

.hero-container .col .row .cta-all {
    flex-basis: 90%;
    text-align: right;
    /* border: 1px solid red; */
}

.hero-container .col .row a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: brown;
}

@media screen and (max-width: 365px) {
    /* responsive */
}

/* Notification */
.notification {
    display: flex;
    gap: 0px 12px;
    padding: 16px;
    background-color: green;
    margin: 16px 16px;
    border-radius: 8px;
}

.notification .icon-not {
    width: 32px;
}

.notification p {
    color: white;
    font-size: 12px;
    font-weight: 500;
}

/* Category */
.category {
    background-color: white;
    /* margin-bottom: 16px; */
    /* border: 1px solid red; */
}

.category .col {
    margin: 16px;
    padding: 16px 0px;
}

.category .col .row .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 16px 0px 0px 0px;

    /* border: 1px solid red; */
}

.category .col .row .container .catcard {
    display: flex;
    row-gap: 8px;
    flex-direction: column;
    width: 82px;
    /* border: 1px solid red; */
}

.category .col .row .container p {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

@media screen and (max-width: 920px) {
    .category .col .row {
        display: flex;
        overflow-x: auto;
    }
    .category .col .row .container {
        flex-wrap: nowrap;
    }
    .category .col .row .container .catcard {
        flex: 0 0 auto;
        row-gap: 8px;
    }

    .category .col .row .container p {
        font-size: 11px;
    }
}

/* Menu */
.menu {
    background-color: #fffaf3;
}

.menu .col {
    margin: 16px;
    padding: 16px 0px;
}

.menu .col p {
    font-size: 12px;
    color: gray;
    font-weight: 300;
}

.menu .col .row {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin: 16px 0px;
    /* border: 1px solid black; */
}

.menu .col .row .card-wrap {
    display: flex;
    flex-direction: column;
    /* max-width: 130.67px; */
    flex-grow: 1;
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 6px 8px 0px rgba(0, 0, 0, 0.1);
    /* border: 1px solid red; */
}

.menu .col .row .card-wrap .wraped {
    /* border: 1px solid red; */
    margin: 8px;
}

.menu .col .row .card-wrap .card-wrap-img {
    width: 100%;
}

.menu .col .row .card-wrap .head {
    margin: 8px 0px;
}

.menu .col .row .card-wrap .head .title {
    color: #2d2d2d;
    font-weight: 600;
}

.menu .col .row .card-wrap .head .sub-title {
    font-weight: 300;
    font-size: 11px;
}

.menu .col .row .card-wrap .discount {
    background-color: #e62129;
    margin: 8px 0px;
    width: max-content;
    border-radius: 4px;
}

.menu .col .row .card-wrap .discount p {
    padding: 4px 8px;
    color: white;
    font-size: 10px;
}

.menu .col .row .card-wrap .price {
    color: rgb(24, 24, 24);
    margin: 8px 0px;
}

.menu .col .row .card-wrap .price .number {
    font-weight: 600;
    font-size: 16px;
}

.menu .col .row .card-wrap .price .sold {
    font-size: 10px;
    color: rgb(169, 169, 169);
    font-weight: 200;
}

.menu .col .row .card-wrap .cta-button {
    margin: 8px 0px 0px;
    background-color: green;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
}

.menu .col .row .card-wrap .cta-button a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

@media screen and (min-width: 465px) {
    .menu .col .row .card-wrap {
        max-width: 133px;
        /* border: 1px solid red; */
    }
}

@media screen and (max-width: 465px) {
    .menu .col .row {
        display: flex;
        flex-wrap: wrap;
    }

    .menu .col .row .card-wrap {
        display: flex;
        flex-grow: 1;
    }
}

@media screen and (max-width: 920px) {
    footer {
        display: none;
    }
}

/* Footer */
@media screen and (min-width: 768px) {
    footer {
        background-color: black;
    }

    .bottom-footer {
        max-width: 448px;
        color: white;
        padding: 20px 16px;
    }

    .bottom-footer .mitra .mitra-head {
        font-size: 14px;
        font-weight: 500;
    }

    .bottom-footer .mitra .sub-head {
        font-size: 12px;
        color: gray;
    }

    .bottom-footer .mitra .wrap-mitra {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4px;
        margin: 16px 0px;
    }

    .bottom-footer .mitra .wrap-mitra .item {
        display: flex;
        text-align: center;
        margin: 4px 8px;
        flex: 0 0 25%s;
    }

    .bottom-footer .mitra .wrap-mitra .item img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: 0 auto;
    }

    .bottom-footer .divider {
        color: gray;
        margin: 24px 0px 12px 0px;
        border-radius: 100%;
    }

    .bottom-footer p {
        font-size: 12px;
        text-align: center;
    }
}

/* Aside  */
@media screen and (min-width: 920px) {
    aside {
        margin: 96px 16px 0px 16px;
        width: 200px;
        position: fixed;
        /* right: 25%; */
        /* background-color: red; */
        margin-left: 700px;
        /* border: 1px solid rgb(234, 234, 234); */
    }

    aside .container-aside {
        width: 200px;
        border: 1px solid rgb(219, 219, 219);
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }

    aside .container-aside .wrap-aside {
        display: flex;
        flex-direction: column;
    }

    aside .container-aside .wrap-aside .items {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 12px 12px;
        gap: 12px;
        flex-direction: row;
    }

    aside .container-aside .wrap-aside .items:nth-child(1),
    aside .container-aside .wrap-aside .items:nth-child(2),
    aside .container-aside .wrap-aside .items:nth-child(3),
    aside .container-aside .wrap-aside .items:nth-child(4) {
        border-bottom: 1px solid rgb(219, 219, 219);
    }

    aside .container-aside .wrap-aside .items:hover {
        background-color: green;
    }

    aside .container-aside .wrap-aside .items a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        width: 80%;
    }

    aside .container-aside .wrap-aside .items a:hover {
        color: white;
        font-weight: semibold;
    }
}

@media screen and (max-width: 920px) {
    main {
        margin-bottom: 42px;
    }
    .main-container {
        flex-direction: column;
    }

    aside {
        /* border: 1px solid blue; */
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    aside .container-aside {
        /*border: 1px solid yellow;
        */
        background-color: green;
        border-radius: 12px 12px 0px 0px;
        max-width: 448px;
        padding: 12px 0px;
        -webkit-border-radius: 12px 12px 0px 0px;
        -moz-border-radius: 12px 12px 0px 0px;
        -ms-border-radius: 12px 12px 0px 0px;
        -o-border-radius: 12px 12px 0px 0px;
    }

    aside .container-aside .wrap-aside {
        display: flex;
        flex-direction: row;
        row-gap: 16px;
        justify-content: center;
        /* border: 1px solid red; */
    }

    aside .container-aside .wrap-aside .items {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        row-gap: 4px;
        align-content: center;
        /* border: 1px solid black; */
    }

    aside .container-aside .wrap-aside .items:hover {
        cursor: pointer;
        transform: scale(120%);
        -webkit-transform: scale(120%);
        -moz-transform: scale(120%);
        -ms-transform: scale(120%);
        -o-transform: scale(120%);
    }

    aside .container-aside .wrap-aside .items a {
        text-decoration: none;
        font-size: 12px;
        color: white;
        font-weight: 100;
    }

    aside .container-aside .wrap-aside .items a:hover {
        font-weight: 600;
    }
}
