* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    border: 1px solid rgb(226, 226, 226);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main {
    margin: 0 auto;
    max-width: 448px;
    /* border: 1px solid red; */
    background-color: #f1f1f1;
}

.container-content {
    max-width: 448px;
}

/* header */
header {
    position: fixed;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(206, 206, 206);
    z-index: 999;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    gap: 199px;
    padding: 14px 0px;
    background: white;
}

/* main */
.hero-container {
    padding: 80px 16px 0px 16px;
    background-color: white;
}

.hero-container .col {
    display: flex;
    flex-direction: column;
    /* border: 1px solid yellow; */
}

.hero-container .col .slider {
    display: flex;
    overflow: hidden;
}

.hero-container .col .banner-img {
    /* border: 1px solid black; */
    width: 100%;
    flex: 0 0 100%;
    transition: transform 0.5s ease-in-out;
}

.hero-container .col .banner-img img {
    width: 100%;
}

.hero-container .col .row {
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding: 8px 0px;
    /* border: 1px solid red; */
}

.hero-container .col .row .position {
    flex-basis: 30%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    /* border: 1px solid black; */
}

.hero-container .col .row .position span {
    width: 8px;
    height: 8px;
    background-color: rgb(235, 235, 235);
    border-radius: 8px;
}

.hero-container .col .row .position .circle-actived {
    width: 10px;
    height: 10px;
    background-color: rgb(123, 32, 32);
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}

.hero-container .col .row .cta-all {
    flex-basis: 90%;
    text-align: right;
    /* border: 1px solid red; */
}

.hero-container .col .row a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: brown;
}

@media screen and (max-width: 365px) {
    /* responsive */
}

/* Notification */
.notification {
    display: flex;
    gap: 0px 12px;
    padding: 16px;
    background-color: green;
    margin: 16px 16px;
    border-radius: 8px;
}

.notification .icon-not {
    width: 32px;
}

.notification p {
    color: white;
    font-size: 12px;
    font-weight: 500;
}

/* Category */
.category {
    background-color: white;
    /* margin-bottom: 16px; */
    /* border: 1px solid red; */
}

.category .col {
    margin: 16px;
    padding: 16px 0px;
}

.category .col .row .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 16px 0px 0px 0px;

    /* border: 1px solid red; */
}

.category .col .row .container .catcard {
    display: flex;
    row-gap: 8px;
    flex-direction: column;
    width: 82px;
    /* border: 1px solid red; */
}

.category .col .row .container p {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

@media screen and (max-width: 920px) {
    .category .col .row {
        display: flex;
        overflow-x: auto;
    }
    .category .col .row .container {
        flex-wrap: nowrap;
    }
    .category .col .row .container .catcard {
        flex: 0 0 auto;
        row-gap: 8px;
    }

    .category .col .row .container p {
        font-size: 11px;
    }
}

/* Menu */
.menu {
    background-color: #fffaf3;
}

.menu .col {
    margin: 16px;
    padding: 16px 0px;
}

.menu .col p {
    font-size: 12px;
    color: gray;
    font-weight: 300;
}

.menu .col .row {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin: 16px 0px;
    /* border: 1px solid black; */
}

.menu .col .row .card-wrap {
    display: flex;
    flex-direction: column;
    /* max-width: 130.67px; */
    flex-grow: 1;
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 6px 8px 0px rgba(0, 0, 0, 0.1);
    /* border: 1px solid red; */
}

.menu .col .row .card-wrap .wraped {
    /* border: 1px solid red; */
    margin: 8px;
}

.menu .col .row .card-wrap .card-wrap-img {
    width: 100%;
}

.menu .col .row .card-wrap .head {
    margin: 8px 0px;
}

.menu .col .row .card-wrap .head .title {
    color: #2d2d2d;
    font-weight: 600;
}

.menu .col .row .card-wrap .head .sub-title {
    font-weight: 300;
    font-size: 11px;
}

.menu .col .row .card-wrap .discount {
    background-color: #e62129;
    margin: 8px 0px;
    width: max-content;
    border-radius: 4px;
}

.menu .col .row .card-wrap .discount p {
    padding: 4px 8px;
    color: white;
    font-size: 12px;
}

.menu .col .row .card-wrap .price {
    margin: 8px 0px;
}

.menu .col .row .card-wrap .price .number {
    font-weight: 600;
    font-size: 16px;
    color: rgb(26, 26, 26);
}

.menu .col .row .card-wrap .price .sold {
    font-size: 10px;
    color: rgb(169, 169, 169);
    font-weight: 200;
}

.menu .col .row .card-wrap button {
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    color: green;
    font-weight: bold;
    line-height: 24px;
    font-size: 14px;
}

.menu .col .row .card-wrap .cta-button {
    margin: 8px 0px 0px;
    border: 1px solid green;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
}

.menu .col .row .card-wrap .cta-button:hover {
    background-color: green;
    color: white;
}

.menu .col .row .card-wrap .cta-button:hover {
    background-color: green;
}

@media screen and (min-width: 465px) {
    .menu .col .row .card-wrap {
        max-width: 133px;
        /* border: 1px solid red; */
    }
}

@media screen and (max-width: 465px) {
    .menu .col .row {
        display: flex;
        flex-wrap: wrap;
    }

    .menu .col .row .card-wrap {
        display: flex;
        flex-grow: 1;
    }
}

@media screen and (max-width: 920px) {
    footer {
        display: none;
    }
}

/* Footer */
@media screen and (min-width: 768px) {
    footer {
        background-color: black;
    }

    .bottom-footer {
        max-width: 448px;
        color: white;
        padding: 20px 16px;
    }

    .bottom-footer .mitra .mitra-head {
        font-size: 14px;
        font-weight: 500;
    }

    .bottom-footer .mitra .sub-head {
        font-size: 12px;
        color: gray;
    }

    .bottom-footer .mitra .wrap-mitra {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4px;
        margin: 16px 0px;
    }

    .bottom-footer .mitra .wrap-mitra .item {
        display: flex;
        text-align: center;
        margin: 4px 8px;
        flex: 0 0 25%s;
    }

    .bottom-footer .mitra .wrap-mitra .item img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: 0 auto;
    }

    .bottom-footer .divider {
        color: gray;
        margin: 24px 0px 12px 0px;
        border-radius: 100%;
    }

    .bottom-footer p {
        font-size: 12px;
        text-align: center;
    }
}

/* Aside  */
@media screen and (min-width: 920px) {
    aside {
        margin: 96px 16px 0px 16px;
        width: 200px;
        position: fixed;
        /* right: 25%; */
        /* background-color: red; */
        margin-left: 700px;
        /* border: 1px solid rgb(234, 234, 234); */
    }

    aside .container-aside {
        width: 200px;
        border: 1px solid rgb(219, 219, 219);
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }

    aside .container-aside .wrap-aside {
        display: flex;
        flex-direction: column;
    }

    aside .container-aside .wrap-aside .items {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 12px 12px;
        gap: 12px;
        flex-direction: row;
    }

    aside .container-aside .wrap-aside .items:nth-child(1),
    aside .container-aside .wrap-aside .items:nth-child(2),
    aside .container-aside .wrap-aside .items:nth-child(3),
    aside .container-aside .wrap-aside .items:nth-child(4) {
        border-bottom: 1px solid rgb(219, 219, 219);
    }

    aside .container-aside .wrap-aside .items:hover {
        background-color: green;
    }

    aside .container-aside .wrap-aside .items a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        width: 80%;
    }

    aside .container-aside .wrap-aside .items a:hover {
        color: white;
        font-weight: semibold;
    }
}

@media screen and (max-width: 920px) {
    main {
        margin-bottom: 42px;
    }
    .main-container {
        flex-direction: column;
    }

    aside {
        /* border: 1px solid blue; */
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    aside .container-aside {
        /*border: 1px solid yellow;
        */
        background-color: green;
        border-radius: 12px 12px 0px 0px;
        max-width: 448px;
        padding: 12px 0px;
        -webkit-border-radius: 12px 12px 0px 0px;
        -moz-border-radius: 12px 12px 0px 0px;
        -ms-border-radius: 12px 12px 0px 0px;
        -o-border-radius: 12px 12px 0px 0px;
    }

    aside .container-aside .wrap-aside {
        display: flex;
        flex-direction: row;
        row-gap: 16px;
        justify-content: center;
        /* border: 1px solid red; */
    }

    aside .container-aside .wrap-aside .items {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        row-gap: 4px;
        align-content: center;
        /* border: 1px solid black; */
    }

    aside .container-aside .wrap-aside .items:hover {
        cursor: pointer;
        transform: scale(120%);
        -webkit-transform: scale(120%);
        -moz-transform: scale(120%);
        -ms-transform: scale(120%);
        -o-transform: scale(120%);
    }

    aside .container-aside .wrap-aside .items a {
        text-decoration: none;
        font-size: 12px;
        color: white;
        font-weight: 100;
    }

    aside .container-aside .wrap-aside .items a:hover {
        font-weight: 600;
    }
}

/* Modal Box */
#modal-overlay {
    /*display: none;
    */position: fixed;
    bottom: 0;
    width: 448px;
    z-index: 999;
    padding: 12px;
    background-color: white;
    border-radius: 16px 16px 0px 0px;
    transform: translateY(100%);
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -ms-transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

#modal-overlay .modal {
    width: 100%;
    /* border: 1px solid red; */
}

#modal-overlay .modal .modal-content {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

#modal-overlay .modal .modal-content .cta-back {
    margin: 12px auto 32px auto;
    text-align: center;
    /* border: 1px solid yellow; */
    width: 100%;
}

#modal-overlay .modal .modal-content .cta-back .cta-divider {
    background-color: rgb(179, 179, 179);
    width: 15%;
    height: 5px;
    border-radius: 4px;
    /* border: 1px solid red; */
}

#modal-overlay .modal .modal-content .head-modal {
    display: flex;
    width: 100%;
    gap: 16px;
    padding: 0px 16px;

    /* flex-direction: row; */
    /* align-items: center; */
    /* text-align: left; */
    /* border: 1px solid black; */
}

#modal-overlay .modal .modal-content .head-modal .img-modal {
    display: flex;
    align-items: center;
    /* border: 1px solid #ff0000; */
    flex-basis: 22%;
    /* margin-left: 16px; */
}

#modal-overlay .modal .modal-content .head-modal .img-modal .imgModal {
    width: 75px;
    height: 75px;
    border-radius: 8%;
    -webkit-border-radius: 8%;
    -moz-border-radius: 8%;
    -ms-border-radius: 8%;
    -o-border-radius: 8%;
}

#modal-overlay .modal .modal-content .head-modal .text-head-modal {
    /* border: 1px solid green; */
    flex-basis: 88%;
    /* margin: 12px; */
}

#modal-overlay .modal .modal-content .head-modal .text-head-modal .wrap-modal {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#modal-overlay .modal .modal-content .head-modal .text-head-modal .wrap-modal .title-product {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    flex-grow: 1;
}

#modal-overlay .modal .modal-content .head-modal .text-head-modal .wrap-modal .title-product .text-modal {
    text-align: left;
    width: 100%;
    font-size: 14px;
}

#modal-overlay .modal .modal-content .head-modal .text-head-modal .desc-price {
    color: gray;
    font-size: 12px;
    margin-bottom: 4px;
    text-align: left;
    /* border: 1px solid red; */
    width: 100%;
}

#modal-overlay .modal .modal-content .head-modal .text-head-modal .price-modal {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#modal-overlay .modal .modal-content .head-modal .text-head-modal .wrap-modal .stock {
    /* flex-grow: 1; */
    background-color: green;
    margin-bottom: 8px;
    border-radius: 4px;
    width: max-content;
    height: max-content;
}

#modal-overlay .modal .modal-content .head-modal .text-head-modal .stock p {
    font-size: 10px;
    color: white;
    padding: 4px 12px;
}

#modal-overlay .modal .modal-content .head-modal .text-head-modal .price-modal .pricem {
    flex-grow: 1;
}

#modal-overlay .modal .modal-content .head-modal .text-head-modal .price-modal .pricem p {
    font-size: 20px;
    font-weight: bold;
}

#modal-overlay .modal .modal-content .head-modal .text-head-modal .price-modal .total-buy {
    flex-grow: 1;
    text-align: right;
}

#modal-overlay .modal .modal-content .head-modal .text-head-modal .price-modal .total-buy p {
    font-size: 12px;
    color: rgb(168, 168, 168);
}

#modal-overlay .modal hr {
    margin: 24px 0px;
    border-color: rgba(230, 230, 230, 0.2);
}

#modal-overlay .modal .choose {
    padding: 0px 16px;
    /* border: 1px solid red; */
}

#modal-overlay .modal .choose .title-choose {
    display: flex;
    flex-direction: column;
    /* border: 1px solid yellow; */
}

#modal-overlay .modal .choose .title-choose p {
    width: 100%;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

#modal-overlay .modal .choose .title-choose .sub-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    align-items: center;
}

#modal-overlay .modal .choose .title-choose .sub-title h5 {
    color: green;
    font-size: 12px;
    font-weight: 600;
    /* border: 1px solid red; */
    flex-basis: 25%;
}

#modal-overlay .modal .choose .title-choose .sub-title h6 {
    color: rgb(167, 167, 167);
    font-size: 12px;
    font-weight: 500;
    /* border: 1px solid blue; */
    flex-basis: 75%;
}

#modal-overlay .modal .line-divider-two {
    margin: 12px 0px;
    border-style: dashed;
    border-color: rgba(188, 188, 188, 0.2);
}

#modal-overlay .modal .product-modal {
    margin: 0 16px;
}

#modal-overlay .modal .product-modal .product-choose .name-choose {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 100%;
    /* border: 1px solid red; */
}

#modal-overlay .modal .product-modal .product-choose .name-choose .isian {
    flex-basis: 60%;
    font-weight: 500;
    font-size: 16px;
    /* font-size: 12x; */
    /* border: 1px solid yellow; */
}

#modal-overlay .modal .product-modal .product-choose .name-choose .harga {
    flex-basis: 30%;
    text-align: right;
    font-weight: 400;
    font-size: 18px;
    color: #2d2d2d;
}

#modal-overlay .modal .product-modal .product-choose .name-choose .checkbox {
    flex-basis: 10%;
    text-align: right;
    margin-top: 4px;
}

/* Gaya default untuk checkbox (sembunyikan) */
#modal-overlay .modal .product-modal .product-choose .name-choose .checkbox input[type="checkbox"] {
    display: none;
}

/* Gaya label yang menampilkan checkbox custom */
#modal-overlay .modal .product-modal .product-choose .name-choose .checkbox label {
    display: inline-block;
    width: 24px;
    /*Lebarcheckbox*/
    height: 24px;
    /*Tinggicheckbox*/
    background-color: #ededed;
    /*Warnalatarbelakang*/
    border: 1px solid gainsboro;
    border-radius: 50%;
    /*Mengaturbentukmenjadibulat*/
    cursor: pointer;
    position: relative;
    transition:
        background-color 0.3s,
        border 0.3s;
}

/* Gaya label saat checkbox dicentang */
input[type="checkbox"]:checked + label {
    background-color: green; /* Warna latar belakang saat dicentang (hijau) */
    border: 2px solid #ffffff; /* Border putih */
}

/* Gaya tanda centang (checkmark) */
input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    width: 20px;
    /*Lebartandacentang*/
    height: 20px;
    /*Tinggitandacentang*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #c7c7c7;
    background-color: green;
    /*Warnadanketebalantandacentang*/
    border-radius: 50%;
    opacity: 0;
}

/* Gaya tanda centang saat checkbox dicentang */
input[type="checkbox"]:checked + label::before {
    opacity: 1;
}

#modal-overlay .modal .product-modal .product-choose .line-choose {
    margin: 4px 0px;
}

.choose-add {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    margin: 0px 16px;
}

.cta-boxed {
    cursor: pointer;
    margin-top: 12px;
    width: 100%;
    padding: 16px 0px;
    background-color: green;
    font-size: 16px;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 24px;
    margin-bottom: 24px;
}

.cta-boxed:hover {
    background-color: rgb(0, 73, 0);
}

.msg {
    flex-basis: 70%;
    /* border: 1px solid blue; */
}

.counter {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-basis: 30%;
}

.cta-counter {
    cursor: pointer;
    border: 1px solid gray;
    flex-basis: 30%;
    max-width: 32px;
    max-height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}

.counter-min {
    color: gray;
    border: 1px solid gainsboro;
}

.counter-add {
    border: 1px solid green;
    color: green;
    background-color: rgb(230, 255, 230);
}

.value {
    text-align: center;
}