* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: sans-serif;
    border: 1px solid rgb(226, 226, 226);
    color: F1F1F1;
}

.container-content {
    max-width: 480px;
}

/* header */
header {
    text-align: center;
    border-bottom: 1px solid rgb(206, 206, 206);
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    gap: 199px;
    padding: 14px 0px;
    background: white
}

/* main */
.hero-container {
    padding: 16px;
}

.hero-container .col {
    display: flex;
    flex-direction: column;
    border: 1px solid yellow;
}

.hero-container .col .row {
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding: 8px 0px;
    border: 1px solid red;
}

.hero-container .col .row .position {
    display: flex;
    gap: 0px 8px;
    align-items: center;
    border: 1px solid black;

}

.hero-container .col .row .position span {
    width: 8px;
    height: 8px;
    background-color: rgb(213, 213, 213);
    border-radius: 8px;
}

.hero-container .col .row a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: brown;
}

@media screen and (max-width: 375px) { 
    .hero-container .col {
        padding: 0px 16px;
    }
    .hero-container .col .banner-img {
        max-width: 358px;
    }
}

/* Card */
.product {
    margin: 20px 0px;
}

.list-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid yellow; */
}

.card {
    width: 360px;
    margin: 8px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 8px;
}

.card .col {
    padding: 8px;
}

.card .col .content {
    /* border: 1px solid rebeccapurple; */
    margin: 8px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card .col .description {
    /* border: 1px solid red; */
    width: 100%;
}

.card .col .description .price {
    font-size: 24px;
    color: orangered;
    font-weight: 600;
}

.card .col .description .review {
    margin-bottom: 8px;
}

.card .col .description .review .text-review {
    font-size: 14px;
    color: rgb(168, 168, 168);
}

.card .col .description .title {
    margin: 4px 0px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(52, 52, 52);
}

.card .col .content .icon .cta-like {
    width: 40px;
    margin: 2px;
    transition: fill 0.3s ease;
    cursor: pointer;
}

.card .col .content .icon .cta-like:hover {
    outline: none;
    fill: #ff2525;
}

.card .col .content .icon .cta-like:active {
    fill: #ff2525;
}

.card .col .cta {
    margin: 0 auto;
    width: 100%;
}

.card .col .cta-pesan {
    text-decoration: none;
    list-style-type: none;
    padding: 12px 0px;
    width: 100%;
    color: orangered;
    background-color: transparent;
    border: 1px solid orangered;
    border-radius: 4px;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
    cursor: pointer;
}

.card .col .cta-pesan:hover {
    color: white;
    background-color: orangered;
    stroke: none;
}

.card .col .cta-pesan a:hover {
    color: white;
}

.card .col .head-img img {
    width: 100%;
}

.card-img {
    width: 100%;
}

.card-img img {
    width: 50%;
    height: 50%;
}

/* Footer */
footer {
    background-color: black;
}

.bottom-footer {
    color: white;
    padding: 20px 0px;
}

.bottom-footer p {
    text-align: center;
}

/* Responsive */